// Базовый файл стилей
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
.wrapper {
	background-image: url(/assets/img/background_1.webp);
	background-color: #222021;
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper2 {
	background-image: url(/assets/img/background_1.webp);
	background-color: #222021;
	background-repeat: no-repeat;
	background-size: cover;
}
@font-face {
	font-family: "Kyiv";
	src: url("/assets/fonts/roboto/KyivTypeSans-Regular-.woff") format("woff"),
		url("/assets/fonts/roboto/KyivTypeSans-Regular-.woff2") format("woff2");
}
.kyiv {
	font-family: "Kyiv";
	font-style: normal;
}
.fuck {
	font-family: "Kyiv";
	font-size: 90px;
	font-weight: 500;
	text-transform: uppercase;
}
.monts {
	font-family: "Montserrat";
	font-style: normal;
}
.inter {
	font-family: "Inter";
	font-style: normal;
}
.transparent {
	background: transparent;
}
.e--gallery-link1 {
	color: #a3b8d7 !important;
}
.e--prices-link2 {
	color: #a3b8d7 !important;
}
.e--about_us-link3 {
	color: #a3b8d7 !important;
}
.e--contact-link4 {
	color: #a3b8d7 !important;
}
.container {
	padding-left: 11px;
	padding-right: 11px;
	@media screen and (min-width: 576px) {
		padding-left: 20px;
		padding-right: 20px;
	}
	@media screen and (min-width: 767px) {
		padding-left: 36px;
		padding-right: 36px;
	}
	@media screen and (min-width: 991px) {
		padding-left: 64px;
		padding-right: 64px;
	}
	@media screen and (min-width: 1200px) {
		padding-left: 80px;
		padding-right: 80px;
	}
}
.header {
	max-width: 1440px;
	margin: auto;
	background-image: url(/assets/img/background_2.webp);
	background-size: 286px 465px;
	background-repeat: no-repeat;
	@media screen and (min-width: 576px) {
		background-size: 400px 600px;
	}
	@media screen and (min-width: 767px) {
		background-size: 400px 480px;
	}
	@media screen and (min-width: 820px) {
		background-size: 450px 480px;
	}
	@media screen and (min-width: 991px) {
		background-size: 570px 900px;
	}
	@media screen and (min-width: 1200px) {
		background-size: 908px 1080px;
	}
	& .header-flex {
		display: flex;
		justify-content: space-between;
		padding-top: 43px;
		padding-bottom: 51px;
		@media screen and (min-width: 767px) {
			justify-content: space-between;
			align-items: center;
			@media screen and (min-width: 1200px) {
				padding-top: 50px;
				padding-bottom: 84px;
			}
		}
		& .logo {
			margin-left: 8px;
			@media screen and (min-width: 767px) {
				width: 120px;
				height: 60px;
			}
			@media screen and (min-width: 1200px) {
				width: 197px;
				height: 84px;
				margin-left: 22px;
			}
		}
		& .menu {
			padding-right: 10px;
			@media screen and (min-width: 767px) {
				display: none;
			}
		}
		& .dis-none {
			@media screen and (min-width: 767px) {
				display: none;
			}
		}
		& .header-links {
			display: none;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			color: #f5f5f5;
			text-decoration: none;
			@media screen and (min-width: 767px) {
				display: inline-block;
			}
		}
		& .pdb {
			@media screen and (min-width: 767px) {
				padding-right: 15px;
				padding-left: 15px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 63px;
				padding-right: 63px;
			}
		}
		& .pdr {
			@media screen and (min-width: 767px) {
				padding-right: 15px;
			}
			@media screen and (min-width: 1200px) {
				padding-right: 63px;
			}
		}
		& .last-pdr {
			@media screen and (min-width: 1200px) {
				padding-right: 24px;
			}
		}
	}
	& .block1-flex {
		background-image: url(/assets/img/background_3.webp);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top -50px right;
		display: flex;
		justify-content: flex-end;
		@media screen and (min-width: 550px) {
			background-size: 480px 400px;
			background-position: top -50px right;
		}
		@media screen and (min-width: 576px) {
			background-size: 530px;
			background-position: top -65px right;
		}
		@media screen and (min-width: 600px) {
			background-size: 600px 450px;
			background-position: top -55px right;
		}
		@media screen and (min-width: 660px) {
			background-size: 700px 430px;
			background-position: top -55px right;
		}
		@media screen and (min-width: 820px) {
			background-size: 760px 430px;
		}
		@media screen and (min-width: 870px) {
			background-size: 820px 430px;
		}
		@media screen and (min-width: 991px) {
			background-size: 1000px 840px;
			background-position: top -100px right;
		}
		@media screen and (min-width: 1120px) {
			background-size: 1100px 715px;
		}
		@media screen and (min-width: 1200px) {
			background-size: 1320px 970px;
			background-position: top -119px right;
		}
		@media screen and (min-width: 1400px) {
			background-size: 1440px 970px;
		}
		& .header-h2 {
			font-weight: 500;
			font-size: 30px;
			line-height: 107.9%;
			text-transform: uppercase;
			color: #f5f5f5;
			padding-top: 39px;
			padding-left: 65px;
			padding-bottom: 9px;
			@media screen and (min-width: 440px) {
				padding-left: 125px;
			}
			@media screen and (min-width: 485px) {
				padding-left: 180px;
			}
			@media screen and (min-width: 576px) {
				padding-left: 140px;
			}
			@media screen and (min-width: 620px) {
				font-size: 38px;
			}
			@media screen and (min-width: 715px) {
				padding-left: 180px;
				padding-right: 100px;
			}
			@media screen and (min-width: 767px) {
				padding-left: 200px;
				font-size: 48px;
				padding-right: 150px;
			}
			@media screen and (min-width: 820px) {
				padding-left: 260px;
				padding-right: 210px;
			}
			@media screen and (min-width: 910px) {
				padding-left: 260px;
				padding-right: 270px;
			}
			@media screen and (min-width: 991px) {
				font-size: 64px;
				line-height: 115.4%;
				padding-top: 64px;
				padding-bottom: 22px;
			}
			@media screen and (min-width: 1120px) {
				padding-left: 270px;
				padding-right: 330px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 90px;
				padding-left: 100px;
				padding-right: 270px;
				padding-top: 75px;
			}
			@media screen and (min-width: 1300px) {
				padding-left: 210px;
			}
			@media screen and (min-width: 1400px) {
				padding-left: 230px;
				padding-right: 340px;
			}
		}
		& .header-p {
			font-weight: 500;
			font-size: 15px;
			line-height: 18px;
			color: #ffdbbb;
			padding-left: 69px;
			padding-bottom: 20px;
			padding-right: 20px;
			@media screen and (min-width: 440px) {
				padding-left: 130px;
			}
			@media screen and (min-width: 485px) {
				padding-left: 185px;
			}
			@media screen and (min-width: 576px) {
				padding-left: 145px;
				padding-right: 140px;
			}
			@media screen and (min-width: 620px) {
				font-size: 18px;
			}
			@media screen and (min-width: 715px) {
				padding-left: 185px;
				padding-right: 200px;
			}
			@media screen and (min-width: 767px) {
				padding-left: 200px;
				padding-right: 220px;
				font-size: 20px;
			}
			@media screen and (min-width: 820px) {
				padding-left: 265px;
				padding-right: 260px;
			}
			@media screen and (min-width: 991px) {
				font-size: 24px;
				line-height: 36px;
				padding-bottom: 58px;
				padding-left: 260px;
				padding-right: 380px;
			}
			@media screen and (min-width: 1120px) {
				padding-left: 270px;
				padding-right: 400px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 30px;
				line-height: 39px;
				padding-left: 100px;
				padding-right: 470px;
				padding-bottom: 58px;
			}
			@media screen and (min-width: 1300px) {
				padding-left: 210px;
				padding-right: 450px;
			}
			@media screen and (min-width: 1400px) {
				padding-left: 230px;
				padding-right: 500px;
			}
		}
		& .e--but {
			padding: 2px 22px;
			background: #728bad;
			border-radius: 42px;
			margin-left: 65px;
			@media screen and (min-width: 440px) {
				margin-left: 130px;
			}
			@media screen and (min-width: 485px) {
				margin-left: 185px;
			}
			@media screen and (min-width: 576px) {
				margin-left: 140px;
			}
			@media screen and (min-width: 620px) {
				padding: 6px 36px;
			}
			@media screen and (min-width: 715px) {
				margin-left: 180px;
			}
			@media screen and (min-width: 767px) {
				margin-left: 200px;
				padding: 8px 48px;
			}
			@media screen and (min-width: 820px) {
				margin-left: 260px;
			}
			@media screen and (min-width: 991px) {
				padding: 10px 64px;
				margin-bottom: 250px;
			}
			@media screen and (min-width: 1120px) {
				margin-bottom: 250px;
			}
			@media screen and (min-width: 1200px) {
				margin-left: 100px;
				padding: 11px 70px;
			}
			@media screen and (min-width: 1300px) {
				margin-left: 210px;
			}
			@media screen and (min-width: 1400px) {
				margin-left: 230px;
			}
		}
		& .but-text {
			font-weight: 700;
			font-size: 15px;
			line-height: 18px;
			color: #f5f5f5;
			text-decoration: none;
			@media screen and (min-width: 767px) {
				font-size: 20px;
			}
			@media screen and (min-width: 991px) {
				font-size: 24px;
				line-height: 36px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 30px;
				line-height: 36px;
			}
		}
		& .e--block {
			display: block;
			@media screen and (min-width: 767px) {
				width: 100px;
			}
			@media screen and (min-width: 991px) {
				width: 150px;
			}
			@media screen and (min-width: 1200px) {
				width: 205px;
			}
		}
		& .mg1 {
			margin-top: 130px;
			margin-right: 11px;
			margin-bottom: 25px;
			@media screen and (min-width: 576px) {
				margin-right: 20px;
			}
			@media screen and (min-width: 767px) {
				margin-bottom: 0;
				margin-top: 20px;
				margin-right: 36px;
			}
			@media screen and (min-width: 991px) {
				margin-top: 43px;
				margin-right: 64px;
			}
			@media screen and (min-width: 1200px) {
				margin-right: 115px;
			}
		}
		& .mg2 {
			position: relative;
			top: 0;
			right: 189px;
			@media screen and (min-width: 576px) {
				right: 240px;
			}
			@media screen and (min-width: 767px) {
				right: 130px;
				top: 10px;
			}
			@media screen and (min-width: 991px) {
				right: 170px;
				top: 50px;
			}
			@media screen and (min-width: 1200px) {
				right: 220px;
				top: 70px;
			}
			@media screen and (min-width: 1400px) {
				right: 290px;
				top: 70px;
			}
		}
		& .mg3 {
			position: relative;
			top: -20px;
			right: 33px;
			@media screen and (min-width: 576px) {
				right: 80px;
			}
			@media screen and (min-width: 767px) {
				right: 0;
				top: -30px;
			}
			@media screen and (min-width: 991px) {
				right: -10px;
				top: 10px;
			}
			@media screen and (min-width: 1200px) {
				right: 0px;
				top: -10px;
			}
			@media screen and (min-width: 1400px) {
				right: 40px;
				top: -6px;
			}
		}
	}
}
.bor-bt {
	width: 290px;
	position: relative;
	top: 230px;
	left: 65px;
	border-bottom: 1px solid #f5f5f5;
	@media screen and (min-width: 440px) {
		left: 130px;
	}
	@media screen and (min-width: 485px) {
		left: 185px;
	}
	@media screen and (min-width: 576px) {
		left: 140px;
		width: 400px;
	}
	@media screen and (min-width: 720px) {
		left: 220px;
	}
	@media screen and (min-width: 767px) {
		border-left: 1px solid #f5f5f5;
		transform: rotateZ(270deg);
		left: 360px;
		top: 150px;
		width: 260px;
	}
	@media screen and (min-width: 800px) {
		left: 400px;
	}
	@media screen and (min-width: 910px) {
		left: 470px;
	}
	@media screen and (min-width: 991px) {
		width: 400px;
		left: 380px;
		top: 260px;
	}
	@media screen and (min-width: 1060px) {
		left: 460px;
	}
	@media screen and (min-width: 1200px) {
		width: 511px;
		left: 365px;
		top: 310px;
	}
	@media screen and (min-width: 1300px) {
		left: 475px;
	}
	@media screen and (min-width: 1400px) {
		left: 540px;
	}
}
// =================================================================================
.block-1 {
	max-width: 1440px;
	margin: auto;
	& .e--gallery-h1 {
		padding-top: 49px !important;
		padding-left: 13px !important;
		@media screen and (min-width: 767px) {
			padding-left: 55px !important;
			padding-top: 100px !important;
		}
		@media screen and (min-width: 1200px) {
			padding-top: 236px !important;
			padding-left: 197px !important;
		}
	}
	& .block-1_h1 {
		font-weight: 500;
		font-size: 30px;
		line-height: 132.9%;
		color: #f5f5f5;
		padding-left: 8px;
		padding-right: 105px;
		padding-top: 78px;
		@media screen and (min-width: 576px) {
			padding-left: 55px;
		}
		@media screen and (min-width: 767px) {
			font-size: 48px;
			padding-right: 260px;
		}
		@media screen and (min-width: 991px) {
			font-size: 64px;
		}
		@media screen and (min-width: 1200px) {
			font-size: 90px;
			padding-top: 266px;
			padding-left: 163px;
			padding-right: 150px;
		}
	}
	& .flex-block1 {
		display: flex;
		overflow: scroll;
		@media screen and (min-width: 576px) {
			justify-content: space-around;
			overflow: hidden;
		}
		@media screen and (min-width: 1400px) {
			justify-content: space-between;
			padding-left: 126px;
			padding-right: 127px;
		}
		& .left-side {
			margin-top: 90px;
			@media screen and (min-width: 1200px) {
				margin-top: 125px;
			}
			& span {
				padding-bottom: 7px;
				@media screen and (min-width: 1200px) {
					padding-bottom: 31px;
				}
			}
			& .pd9 {
				padding-bottom: 9px;
				@media screen and (min-width: 1200px) {
					padding-bottom: 24px;
				}
			}
			& .pdb26 {
				@media screen and (min-width: 1200px) {
					padding-bottom: 26px;
				}
			}
			& .pd23 {
				padding-bottom: 23px;
				@media screen and (min-width: 1200px) {
					padding-bottom: 0;
				}
			}
		}
		& .center {
			margin-top: 120px;
			& span {
				padding-bottom: 6px;
				@media screen and (min-width: 1200px) {
					padding-bottom: 28px;
				}
			}
			& span:last-child {
				width: 110px;
				@media screen and (min-width: 991px) {
					width: auto;
				}
			}
			@media screen and (min-width: 576px) {
				margin-top: 90px;
			}
			@media screen and (min-width: 1200px) {
				margin-top: 125px;
			}
		}
		& .right-side {
			margin-top: 90px;
			margin-right: -150px;
			@media screen and (min-width: 576px) {
				margin-right: 0;
			}
			@media screen and (min-width: 1200px) {
				margin-top: 125px;
			}
			& span {
				padding-bottom: 6px;
				@media screen and (min-width: 1200px) {
					padding-bottom: 28px;
				}
			}
			& span:last-child {
				width: 110px;
				@media screen and (min-width: 991px) {
					width: auto;
				}
			}
		}
	}
}
.e--span_block1 {
	font-weight: 500;
	font-size: 15px;
	line-height: 15px;
	color: #f5f5f5;
	padding-left: 13px;
	display: inline-block;
	@media screen and (min-width: 767px) {
		font-size: 20px;
		line-height: 20px;
	}
	@media screen and (min-width: 1200px) {
		padding-left: 10px;
		font-size: 30px;
		line-height: 30px;
	}
}
.e--span1_block1 {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #f5f5f5;
	padding-left: 13px;
	display: inline-block;
	@media screen and (min-width: 767px) {
		font-size: 20px;
		line-height: 24px;
	}
	@media screen and (min-width: 1200px) {
		padding-left: 10px;
		font-size: 30px;
		line-height: 36px;
	}
}
.e--spanp2 {
	padding-left: 12px;
	@media screen and (min-width: 1200px) {
		padding-left: 10px;
	}
}
.e--h2_block1 {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #f5f5f5;
	@media screen and (min-width: 767px) {
		font-size: 24px;
		line-height: 28px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 30px;
		line-height: 36px;
	}
}
.e--wid {
	@media screen and (min-width: 767px) {
		width: 100px;
		height: 100px;
	}
	@media screen and (min-width: 1200px) {
		width: 205px;
		height: 205px;
	}
}
.tac {
	text-align: center;
	padding-top: 16px;
	padding-bottom: 20px;
	@media screen and (min-width: 1200px) {
		padding-top: 39px;
		padding-bottom: 38px;
	}
}
.tac1 {
	text-align: center;
	padding-top: 16px;
	padding-bottom: 20px;
	@media screen and (min-width: 1200px) {
		padding-top: 33px;
		padding-bottom: 44px;
	}
}
.mg0 {
	display: block;
	margin: auto;
}
.liknon {
}
.e--width {
	@media screen and (min-width: 1200px) {
		width: 25px;
		height: 25px;
	}
}
.e--width1 {
	@media screen and (min-width: 1200px) {
		width: 25px;
		height: 25px;
	}
}
.e--block1_mg1 {
	margin-left: 47px;
	@media screen and (min-width: 767px) {
		margin-left: 0;
	}
}
.e--block1_mg2 {
	margin-left: 48px;
	@media screen and (min-width: 767px) {
		margin-left: 1px;
	}
}
.e--block1_mg3 {
	margin-left: 50px;
	@media screen and (min-width: 767px) {
		margin-left: 2px;
		margin-right: 3px;
	}
}
.e--block1_mg4 {
	margin-left: 26px;
	@media screen and (min-width: 767px) {
		margin-left: 0;
	}
}
.e--block1_mg5 {
	margin-left: 28px;
	margin-bottom: 15px;
	@media screen and (min-width: 767px) {
		margin-left: 1px;
		margin-right: 2px;
	}
	@media screen and (min-width: 991px) {
		margin-bottom: 0;
	}
}
.e--block1_mg6 {
	margin-left: 28px;
	@media screen and (min-width: 767px) {
		margin-left: 1px;
		margin-right: 2px;
	}
}
.e--block1_mg7 {
	margin-left: 30px;
	margin-bottom: 15px;
	@media screen and (min-width: 767px) {
		margin-left: 3px;
		margin-right: 4px;
	}
	@media screen and (min-width: 991px) {
		margin-bottom: 0;
	}
}
.layo {
	@media screen and (min-width: 1200px) {
		width: 180px;
	}
}
.layo1 {
	@media screen and (min-width: 1200px) {
		margin-bottom: 18px;
	}
}
// =======================================================================================
.block_2 {
	max-width: 1440px;
	margin: 0 auto;
	& .e--about_us-h {
		padding-top: 63px !important;
		padding-bottom: 49px !important;
		padding-left: 13px !important;
		@media screen and (min-width: 767px) {
			padding-left: 55px !important;
			padding-top: 100px !important;
			padding-bottom: 70px !important;
		}
		@media screen and (min-width: 1200px) {
			padding-top: 207px !important;
			padding-bottom: 121px !important;
			padding-left: 171px !important;
		}
	}
	& .e--gallery-h2 {
		padding-top: 32px !important;
		padding-bottom: 49px !important;
		padding-left: 13px !important;
		@media screen and (min-width: 767px) {
			padding-left: 55px !important;
			padding-top: 50px !important;
			padding-bottom: 70px !important;
		}
		@media screen and (min-width: 1200px) {
			padding-top: 102px !important;
			padding-bottom: 121px !important;
			padding-left: 168px !important;
		}
	}
	& .e--block2_h2 {
		font-weight: 500;
		font-size: 30px;
		line-height: 132.9%;
		text-transform: uppercase;
		color: #f5f5f5;
		padding-top: 93px;
		padding-bottom: 46px;
		padding-left: 8px;
		@media screen and (min-width: 767px) {
			font-size: 48px;
			padding-left: 55px;
		}
		@media screen and (min-width: 991px) {
			font-size: 64px;
		}
		@media screen and (min-width: 1200px) {
			font-size: 90px;
			padding-top: 263px;
			padding-left: 158px;
			padding-bottom: 121px;
		}
	}
}
.swiper-slide img {
	max-width: 1130px;
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 44px;
}
.swiper-pagination {
	margin-top: 15px;
	@media screen and (min-width: 767px) {
		margin-top: 20px;
	}
	@media screen and (min-width: 991px) {
		margin-top: 26px;
	}
	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		border: 2px solid #728bad !important;
		margin: 0 5px !important;
		background-color: transparent;
		opacity: 1;
		@media screen and (min-width: 767px) {
			margin: 0 9px !important;
			width: 18px;
			height: 18px;
			border: 3px solid #728bad !important;
		}
		@media screen and (min-width: 991px) {
			border: 4px solid #728bad !important;
			width: 26px;
			height: 26px;
		}
		&.swiper-pagination-bullet-active {
			background: #d5dcee;
		}
	}
}
.swiper-pagination,
.swiper-pagination-clickable,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
	position: static !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	&::after {
		content: "" !important;
		min-width: 14px;
		height: 14px;
		background-image: url(/assets/img/right_arrow.svg);
		background-size: contain;
		background-repeat: no-repeat;
		color: #a3b8d7;
		margin-left: 25px;
		margin-bottom: 32px;
		@media screen and (min-width: 767px) {
			min-width: 24px;
			height: 24px;
		}
		@media screen and (min-width: 991px) {
			min-width: 42px;
			height: 42px;
			margin-left: 5px;
		}
		@media screen and (min-width: 1200px) {
			min-width: 52px;
			height: 50px;
			margin-left: -9px;
		}
	}
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	&::after {
		content: "" !important;
		min-width: 14px;
		height: 14px;
		background-image: url(/assets/img/right_arrow.svg);
		background-size: contain;
		background-repeat: no-repeat;
		color: #a3b8d7;
		transform: rotateZ(180deg);
		margin-right: 10px;
		margin-bottom: 32px;
		@media screen and (min-width: 767px) {
			min-width: 24px;
			height: 24px;
		}
		@media screen and (min-width: 991px) {
			min-width: 42px;
			height: 42px;
			margin-right: -15px;
		}
		@media screen and (min-width: 1200px) {
			min-width: 52px;
			height: 50px;
			margin-right: -22px;
		}
	}
}

.e--small_1 {
	padding-left: 30px;
	padding-right: 22px;
	@media screen and (min-width: 767px) {
		padding-left: 40px;
		padding-right: 32px;
	}
	@media screen and (min-width: 991px) {
		padding-left: 70px;
		padding-right: 62px;
	}
}
.e--small_2 {
	padding-left: 30px;
	padding-right: 22px;
	@media screen and (min-width: 767px) {
		padding-left: 40px;
		padding-right: 32px;
	}
	@media screen and (min-width: 991px) {
		padding-left: 70px;
		padding-right: 62px;
	}
}
.e--small_3 {
	padding-left: 30px;
	padding-right: 22px;
	@media screen and (min-width: 767px) {
		padding-left: 40px;
		padding-right: 32px;
	}
	@media screen and (min-width: 991px) {
		padding-left: 70px;
		padding-right: 62px;
	}
}
// =======================================================
.block_3 {
	max-width: 1440px;
	margin: auto;
	& .e--block3-h2 {
		font-weight: 500;
		font-size: 30px;
		line-height: 132.9%;
		text-transform: uppercase;
		color: #f5f5f5;
		padding-top: 93px;
		padding-bottom: 46px;
		padding-left: 8px;
		padding-right: 40px;
		@media screen and (min-width: 767px) {
			font-size: 48px;
			padding-left: 55px;
			padding-right: 150px;
		}
		@media screen and (min-width: 991px) {
			font-size: 64px;
			padding-bottom: 121px;
			padding-top: 121px;
		}
		@media screen and (min-width: 1200px) {
			font-size: 90px;
			padding-top: 278px;
			padding-right: 0px;
			padding-left: 108px;
		}
		@media screen and (min-width: 1400px) {
			padding-left: 158px;
		}
	}
	& .flex-block3 {
		display: flex;
		flex-direction: column-reverse;
		@media screen and (min-width: 991px) {
			flex-direction: row;
		}
		@media screen and (min-width: 1200px) {
		}
		& .e--block3_padd {
			padding-right: 3px;
			@media screen and (min-width: 1200px) {
				padding-left: 21px;
				padding-right: 122px;
			}
		}
		& .e--pic {
			max-width: 609px;
			width: 100%;
			margin: auto;
			display: block;
			margin-bottom: 46px;
			@media screen and (min-width: 1200px) {
				margin-bottom: 121px;
			}
		}
		& .e--block3-p {
			font-weight: 500;
			font-size: 15px;
			line-height: 139.4%;
			color: #f5f5f5;
			padding-left: 6px;
			@media screen and (min-width: 767px) {
				font-size: 24px;
				padding-left: 24px;
			}
			@media screen and (min-width: 991px) {
				padding-left: 0;
			}
			@media screen and (min-width: 1200px) {
				font-size: 30px;
			}
		}
		& .e--p1 {
			padding-bottom: 11px;
			@media screen and (min-width: 991px) {
				padding-bottom: 11px;
				padding-left: 60px;
				padding-right: 120px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 0px;
				padding-right: 0;
				padding-bottom: 46px;
				max-width: 420px;
			}
		}
		& .e--p2 {
			padding-bottom: 11px;
			@media screen and (min-width: 991px) {
				padding-bottom: 11px;
				padding-left: 60px;
				padding-right: 180px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 0px;
				padding-right: 0;
				padding-bottom: 46px;
				max-width: 360px;
			}
		}
		& .e--p3 {
			padding-bottom: 46px;
			@media screen and (min-width: 991px) {
				padding-bottom: 46px;
				padding-left: 60px;
				padding-right: 130px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 4px;
				padding-right: 0;
				padding-bottom: 121px;
				max-width: 443px;
			}
		}
	}
	& .e--block3_but {
		background: #728bad;
		border-radius: 42px;
		padding: 8px 27px 8px 27px;
		margin: auto;
		display: block;
		@media screen and (min-width: 767px) {
			padding: 10px 50px;
		}
		@media screen and (min-width: 1200px) {
			padding: 11px 70px;
		}
		& .e--block3_link {
			text-decoration: none;
			& .e--block3_span {
				font-weight: 700;
				font-size: 15px;
				line-height: 18px;
				color: #f5f5f5;
				@media screen and (min-width: 767px) {
					font-size: 24px;
					line-height: 30px;
				}
				@media screen and (min-width: 1200px) {
					font-size: 30px;
					line-height: 36px;
				}
			}
		}
	}
}
// ===================================================================
.block_4 {
	&.e--about_us-bgi {
		background-position: top 40px left -110px !important;
		@media screen and (min-width: 375px) {
			height: 715px !important;
		}
		@media screen and (min-width: 767px) {
			height: 840px !important;
		}
		@media screen and (min-width: 991px) {
			height: 590px !important;
		}
		@media screen and (min-width: 1200px) {
			background-position: top 120px left -110px !important;
			height: 735px !important;
		}
		@media screen and (min-width: 1400px) {
			height: 896px !important;
		}
	}
	max-width: 1440px;
	margin: auto;
	background-image: url(/assets/img/background_4.webp);
	background-repeat: no-repeat;
	background-size: 460px 674px;
	background-position: top 100px left -110px;
	height: 780px;
	@media screen and (min-width: 576px) {
		background-size: 650px 674px;
	}
	@media screen and (min-width: 767px) {
		background-size: 830px 790px;
		height: 900px;
	}
	@media screen and (min-width: 991px) {
		background-size: 1020px 550px;
		background-image: url(/assets/img/background_5.webp);
		height: 651px;
	}
	@media screen and (min-width: 1200px) {
		background-size: 1240px 613px;
		background-position: top 310px left -110px;
		height: 1000px;
	}
	@media screen and (min-width: 1400px) {
		background-size: 1435px 775px;
		background-position: top 310px left -110px;
		height: 1090px;
	}
	& .flex-block4 {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 991px) {
			flex-direction: row;
		}
		& .block--block4 {
			& .e--about_us-h2 {
				padding-top: 76px !important;
				@media screen and (min-width: 1200px) {
					padding-top: 149px !important;
				}
			}
			& .e--block4-h2 {
				font-weight: 500;
				font-size: 30px;
				line-height: 132.9%;
				text-transform: uppercase;
				color: #f5f5f5;
				padding-top: 140px;
				padding-bottom: 39px;
				padding-left: 6px;
				@media screen and (min-width: 767px) {
					font-size: 48px;
					padding-left: 55px;
				}
				@media screen and (min-width: 991px) {
					font-size: 64px;
				}
				@media screen and (min-width: 1200px) {
					font-size: 90px;
					padding-top: 349px;
					padding-bottom: 67px;
					padding-left: 163px;
					padding-right: 0;
				}
			}
			& .e--block4-p {
				display: inline-block;
				font-weight: 400;
				font-size: 15px;
				line-height: 139.4%;
				color: #f5f5f5;
				padding-left: 6px;
				padding-right: 60px;
				padding-bottom: 46px;
				max-width: 360px;
				@media screen and (min-width: 767px) {
					font-size: 24px;
					padding-left: 55px;
					max-width: 560px;
				}
				@media screen and (min-width: 1077px) {
					max-width: 530px;
				}
				@media screen and (min-width: 1200px) {
					font-size: 30px;
					padding-left: 173px;
					max-width: 1400px;
				}
				@media screen and (min-width: 1400px) {
					max-width: 740px;
				}
			}
			& .e--block4-b {
				font-weight: 700;
				font-size: 15px;
				line-height: 139.4%;
				color: #f5f5f5;
				display: inline-block;
				@media screen and (min-width: 767px) {
					font-size: 24px;
				}
				@media screen and (min-width: 1200px) {
					font-size: 30px;
				}
			}
		}
		& .e--about_us-abc {
			@media screen and (min-width: 991px) {
			}
			@media screen and (min-width: 1200px) {
			}
			@media screen and (min-width: 1400px) {
			}
		}
		& .e--kit-abc {
			@media screen and (min-width: 1200px) {
				top: 200px !important;
			}
		}
		& .absolute_container {
			max-width: 380px;
			min-height: 400px;
			@media screen and (min-width: 767px) {
				position: relative;
				top: 10px;
				left: 140px;
			}
			@media screen and (min-width: 991px) {
				position: relative;
				// top: 50px;
				left: -170px;
			}
			@media screen and (min-width: 1077px) {
				max-width: 400px;
			}
			@media screen and (min-width: 1200px) {
				max-width: 380px;
				// top: -20px;
				left: -126px;
			}
			& .jesus1 {
				position: relative;
				top: -77px;
				left: 200px;
				@media screen and (min-width: 991px) {
					width: 151px;
					height: 152px;
					top: 87px;
					left: 298px;
				}
				@media screen and (min-width: 1077px) {
					top: -8px;
					left: 290px;
				}
				@media screen and (min-width: 1200px) {
					top: 188px;
					left: 256px;
				}
				@media screen and (min-width: 1400px) {
					width: 205px;
					height: 205px;
					top: 166px;
					left: 327px;
				}
			}
			& .jesus2 {
				position: relative;
				top: 20px;
				left: -80px;
				@media screen and (min-width: 991px) {
					width: 230px;
					height: 230px;
					top: 10px;
					left: 167px;
				}
				@media screen and (min-width: 1077px) {
					top: 150px;
					left: 0px;
				}
				@media screen and (min-width: 1200px) {
					top: 110px;
					left: 120px;
				}
				@media screen and (min-width: 1400px) {
					width: 337px;
					height: 337px;
					top: 68px;
					left: 120px;
				}
			}
			& .jesus3 {
				position: relative;
				top: 40px;
				left: 150px;
				@media screen and (min-width: 991px) {
					width: 151px;
					height: 151px;
					top: 32px;
					left: 280px;
				}
				@media screen and (min-width: 1077px) {
					top: 172px;
					left: 263px;
				}
				@media screen and (min-width: 1200px) {
					top: 126px;
					left: 233px;
				}
				@media screen and (min-width: 1400px) {
					width: 205px;
					height: 205px;
					top: 92px;
					left: 301px;
				}
			}
		}
	}
}
// ==================================================================
.e--contact-section {
	@media screen and (min-width: 767px) {
		display: none !important;
	}
}
.e--about_us-block5 {
	@media screen and (min-width: 1200px) {
		height: 1030px !important;
		background-position: top 690px right 141px !important;
	}
	@media screen and (min-width: 1400px) {
		height: 1157px !important;
		background-position: top 800px right 141px !important;
	}
}
.block_5 {
	max-width: 1440px;
	margin: auto;
	@media screen and (min-width: 1200px) {
		height: 880px;
		background-image: url(/assets/img/bar.webp);
		background-repeat: no-repeat;
		background-size: 480px;
		background-position: top 560px right 141px;
	}
	@media screen and (min-width: 1400px) {
		height: 1007px;
		background-position: top 680px right 141px;
	}
	& .e--about_us-h3 {
		padding-top: 128px !important;
		padding-left: 17px !important;
		@media screen and (min-width: 767px) {
			padding-top: 150px !important;
			padding-right: 37px !important;
			padding-bottom: 24px !important;
		}
		@media screen and (min-width: 991px) {
			padding-top: 200px !important;
			padding-right: 20px !important;
			padding-bottom: 36px !important;
		}
		@media screen and (min-width: 1200px) {
			padding-top: 282px !important;
			padding-bottom: 42px !important;
			padding-right: 23px !important;
		}
	}
	& .e--contact-bl5-h2 {
		padding-top: 42px !important;
		padding-left: 20px !important;
	}
	& .e--prices-h2 {
		padding-top: 57px !important;
		padding-bottom: 11px !important;
		padding-left: 14px !important;
		@media screen and (min-width: 767px) {
			padding-top: 100px !important;
			padding-right: 37px !important;
			padding-bottom: 24px !important;
		}
		@media screen and (min-width: 991px) {
			padding-top: 150px !important;
			padding-right: 36px !important;
			padding-bottom: 36px !important;
		}
		@media screen and (min-width: 1200px) {
			padding-top: 161px !important;
			padding-bottom: 42px !important;
			padding-right: 43px !important;
		}
	}
	& .e--galery-bl5-h2 {
		padding-top: 80px !important;
		padding-left: 20px !important;
		@media screen and (min-width: 767px) {
			padding-top: 100px !important;
			padding-right: 37px !important;
			padding-bottom: 24px !important;
		}
		@media screen and (min-width: 991px) {
			padding-top: 150px !important;
			padding-right: 36px !important;
			padding-bottom: 36px !important;
		}
		@media screen and (min-width: 1200px) {
			padding-top: 185px !important;
			padding-bottom: 42px !important;
			padding-right: 32px !important;
		}
	}
	& .e--block5_h2 {
		font-weight: 500;
		font-size: 30px;
		line-height: 132.9%;
		text-transform: uppercase;
		color: #f5f5f5;
		padding-top: 75px;
		padding-bottom: 11px;
		padding-left: 9px;
		@media screen and (min-width: 576px) {
			text-align: center;
		}
		@media screen and (min-width: 767px) {
			text-align: right;
			font-size: 48px;
			padding-right: 37px;
			padding-top: 100px;
			padding-bottom: 24px;
		}
		@media screen and (min-width: 991px) {
			font-size: 64px;
			padding-top: 150px;
			padding-right: 36px;
			padding-bottom: 36px;
		}
		@media screen and (min-width: 1200px) {
			font-size: 90px;
			padding-top: 192px;
			padding-bottom: 42px;
			padding-right: 43px;
		}
	}
	& .flex-block5 {
		display: flex;
		flex-direction: column-reverse;
		@media screen and (min-width: 576px) {
			text-align: center;
		}
		@media screen and (min-width: 767px) {
			flex-direction: row;
			text-align: left;
			justify-content: space-between;
		}
		& .e--about_us-p {
			padding-left: 17px !important;
			@media screen and (min-width: 991px) {
				padding-right: 20px !important;
			}
			@media screen and (min-width: 1200px) {
				padding-right: 23px !important;
			}
		}
		& .e--contact-p {
			padding-left: 20px !important;
		}
		& .e--prices-p {
			padding-left: 14px !important;
			@media screen and (min-width: 767px) {
				padding-left: 0 !important;
				padding-right: 20px !important;
			}
			@media screen and (min-width: 991px) {
				padding-right: 36px !important;
			}
			@media screen and (min-width: 1200px) {
				padding-right: 43px !important;
			}
		}
		& .e--galery-p {
			padding-left: 20px !important;
			@media screen and (min-width: 767px) {
				padding-left: 0 !important;
				padding-right: 20px !important;
			}
			@media screen and (min-width: 991px) {
				padding-right: 36px !important;
			}
			@media screen and (min-width: 1200px) {
				padding-right: 50px !important;
			}
		}
		& .e--block5_p {
			font-weight: 500;
			font-size: 15px;
			line-height: 139.4%;
			color: #f5f5f5;
			padding-left: 9px;
			max-width: 272px;
			padding-bottom: 46px;
			@media screen and (min-width: 576px) {
				margin: auto;
			}
			@media screen and (min-width: 767px) {
				margin: 0;
				text-align: right;
				font-size: 18px;
				max-width: 322px;
				padding-left: 0;
				padding-right: 20px;
			}
			@media screen and (min-width: 991px) {
				font-size: 24px;
				max-width: 470px;
				padding-right: 36px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 30px;
				max-width: 550px;
				padding-right: 50px;
			}
		}
		& .input {
			border: 2px solid #728bad;
			border-radius: 42px;
			background: transparent;
			font-weight: 500;
			font-size: 13px;
			line-height: 139.4%;
			color: #d9d9d9;
			@media screen and (min-width: 767px) {
				font-size: 18px;
			}
			@media screen and (min-width: 991px) {
				font-size: 24px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 30px;
			}
		}
		& .e--contact-form {
			padding-left: 14px !important;
		}
		& .e--about_us-form {
			padding-left: 11px !important;
			@media screen and (min-width: 1400px) {
				padding-left: 27px !important;
			}
		}
		& .e--prices-form {
			padding-left: 8px !important;
			@media screen and (min-width: 1400px) {
				padding-left: 18px !important;
			}
		}
		& .e--galery-form {
			padding-left: 1px;
			@media screen and (min-width: 1400px) {
				padding-left: 24px;
			}
		}
		& .e--block5_name {
			padding: 9px 126px 9px 14px;
			margin-left: 2px;
			margin-bottom: 12px;
			@media screen and (min-width: 767px) {
				padding: 9px 76px 9px 14px;
				margin-bottom: 23px;
			}
			@media screen and (min-width: 991px) {
				padding: 9px 36px 9px 14px;
			}
			@media screen and (min-width: 1200px) {
				margin-left: 22px;
			}
			@media screen and (min-width: 1400px) {
				padding: 16px 128px 16px 47px;
			}
		}
		& .e--block5_number {
			padding: 10px 121px 9px 19px;
			margin-left: 2px;
			margin-bottom: 12px;
			@media screen and (min-width: 767px) {
				padding: 10px 71px 9px 19px;
				margin-bottom: 23px;
			}
			@media screen and (min-width: 991px) {
				padding: 10px 31px 9px 19px;
			}
			@media screen and (min-width: 1200px) {
				margin-left: 22px;
			}
			@media screen and (min-width: 1400px) {
				padding: 16px 128px 16px 47px;
			}
		}
		& .e--block5_question {
			padding: 14px 121px 98px 19px;
			border-radius: 14px;
			margin-left: 2px;
			margin-bottom: 23px;
			@media screen and (min-width: 767px) {
				padding: 14px 71px 98px 19px;
				margin-bottom: 40px;
			}
			@media screen and (min-width: 991px) {
				padding: 14px 31px 98px 19px;
			}
			@media screen and (min-width: 1200px) {
				margin-left: 22px;
			}
			@media screen and (min-width: 1400px) {
				padding: 18px 128px 194px 47px;
			}
		}
		& .e--contact-send {
			margin-bottom: 102px !important;
		}
		& .e--about_us-send {
			@media screen and (min-width: 1400px) {
				margin-bottom: 169px !important;
			}
		}
		& .e--block5_send {
			background: #728bad;
			border-radius: 42px;
			font-family: "Saira";
			font-style: normal;
			font-weight: 700;
			font-size: 15px;
			line-height: 24px;
			color: #f5f5f5;
			padding: 5px 28px;
			margin-left: 2px;
			margin-bottom: 93px;
			@media screen and (min-width: 767px) {
				font-size: 14px;
				padding: 8px 48px;
			}
			@media screen and (min-width: 991px) {
				font-size: 24px;
				padding: 10px 60px;
				margin-bottom: 109px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 30px;
				padding: 11px 70px;
				font-family: "Inter";
				margin-left: 22px;
			}
		}
	}
	& .d_none {
		display: none;
		@media screen and (min-width: 1200px) {
			display: block;
			position: relative;
			top: -330px;
			left: 830px;
		}
	}
}
// ============================================================
.last_block {
	background: #222021;
	box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.17);
	& .e--footer {
		max-width: 1440px;
		margin: auto;
	}
	& .flex_footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media screen and (min-width: 767px) {
			flex-direction: row;
			justify-content: space-between;
			align-content: center;
		}
		@media screen and (min-width: 991px) {
			justify-content: flex-start;
		}
		& .footer_logo {
			margin-top: 72px;
			margin-bottom: 43px;
			@media screen and (min-width: 991px) {
				margin-top: 70px;
				margin-bottom: 58px;
				margin-right: 50px;
			}
			@media screen and (min-width: 1200px) {
				width: 197px;
				height: 84px;
				margin-left: 22px;
				margin-right: 70px;
			}
		}
		& .footer_geo {
			margin-bottom: -20px;
			margin-right: 10px;
			@media screen and (min-width: 767px) {
				width: 32px;
				height: 32px;
			}
			@media screen and (min-width: 991px) {
				width: 44px;
				height: 44px;
				margin-right: 12px;
				margin-bottom: -30px;
			}
			@media screen and (min-width: 1200px) {
				width: 50px;
				height: 50px;
			}
		}
		& .footer_call {
			margin-bottom: -10px;
			margin-right: 10px;
			@media screen and (min-width: 767px) {
				width: 32px;
				height: 32px;
			}
			@media screen and (min-width: 991px) {
				width: 44px;
				height: 44px;
				margin-right: 14px;
				margin-bottom: -18px;
			}
			@media screen and (min-width: 1200px) {
				width: 50px;
				height: 50px;
			}
		}
		& .links {
			font-weight: 500;
			font-size: 15px;
			line-height: 139.4%;
			color: #f5f5f5;
			@media screen and (min-width: 767px) {
				font-family: "Inter";
				font-size: 20px;
			}
			@media screen and (min-width: 991px) {
				font-size: 24px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 30px;
			}
		}
		& .e--footer_link1 {
		}
		& .e--footer_link2 {
			padding-left: 38px;
			@media screen and (min-width: 767px) {
				display: none;
			}
		}
		& .e--footer_span {
			font-weight: 500;
			font-size: 15px;
			line-height: 139.4%;
			color: #f5f5f5;
			@media screen and (min-width: 767px) {
				padding-left: 45px;
				font-family: "Inter";
				font-size: 20px;
			}
			@media screen and (min-width: 991px) {
				font-size: 24px;
				padding-left: 57px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 30px;
				padding-left: 65px;
			}
		}
		& .e--footer_link3 {
		}
	}
	& .e--footer_link4 {
		font-family: "Saira";
		font-style: normal;
		font-weight: 500;
		font-size: 11px;
		line-height: 139.4%;
		color: #f5f5f5;
		display: block;
		text-align: center;
		padding-bottom: 38px;
		@media screen and (min-width: 767px) {
			display: none;
		}
	}
	& .e--footer_link5 {
		display: none;
		@media screen and (min-width: 767px) {
			display: block;
			font-weight: 500;
			font-size: 16px;
			line-height: 139.4%;
			color: #f5f5f5;
			display: block;
			padding-bottom: 38px;
		}
		@media screen and (min-width: 1200px) {
			font-size: 20px;
			margin-left: 22px;
			padding-bottom: 61px;
		}
	}
}
.e--footer_block1 {
	padding-bottom: 13px;
	padding-left: 37px;
	@media screen and (min-width: 767px) {
		order: 1;
		padding-top: 20px;
		padding-bottom: 0;
		padding-left: 0;
	}
	@media screen and (min-width: 991px) {
		padding-top: 0;
	}
}
.e--footer_block2 {
	padding-bottom: 35px;
	padding-right: 5px;
	@media screen and (min-width: 767px) {
		padding-top: 20px;
		padding-bottom: 0;
		padding-left: 0;
	}
	@media screen and (min-width: 991px) {
		padding-top: 0;
		padding-right: 70px;
	}
	@media screen and (min-width: 1400px) {
		padding-right: 107px;
	}
}
.container {
	padding-left: 11px;
	padding-right: 11px;
	@media screen and (min-width: 576px) {
		padding-left: 20px;
		padding-right: 20px;
	}
	@media screen and (min-width: 767px) {
		padding-left: 36px;
		padding-right: 36px;
	}
	@media screen and (min-width: 991px) {
		padding-left: 64px;
		padding-right: 64px;
	}
	@media screen and (min-width: 1200px) {
		padding-left: 80px;
		padding-right: 80px;
	}
}
.header2 {
	max-width: 1440px;
	margin: auto;
	background: #1e0c06;
	box-shadow: 0px -8px 52px rgba(245, 245, 245, 0.17);
	border-radius: 0px 0px 30px 30px;
	& .header2-flex {
		display: flex;
		justify-content: space-between;
		padding-top: 24px;
		padding-bottom: 22px;
		@media screen and (min-width: 767px) {
			justify-content: space-between;
			align-items: center;
			padding-top: 36px;
			padding-bottom: 32px;
			@media screen and (min-width: 1200px) {
				padding-top: 50px;
				padding-bottom: 47px;
			}
		}
		& .logo2 {
			margin-left: 13px;
			@media screen and (min-width: 767px) {
				width: 120px;
				height: 60px;
			}
			@media screen and (min-width: 1200px) {
				width: 197px;
				height: 84px;
				margin-left: 22px;
			}
		}
		& .menu2 {
			padding-right: 12px;
			@media screen and (min-width: 767px) {
				display: none;
			}
		}
		& .dis-none2 {
			@media screen and (min-width: 767px) {
				display: none;
			}
		}
		& .header-links2 {
			display: none;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			color: #f5f5f5;
			text-decoration: none;
			@media screen and (min-width: 767px) {
				display: inline-block;
			}
		}
		& .pdb2 {
			@media screen and (min-width: 767px) {
				padding-right: 15px;
				padding-left: 15px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 63px;
				padding-right: 63px;
			}
		}
		& .pdr2 {
			@media screen and (min-width: 767px) {
				padding-right: 15px;
			}
			@media screen and (min-width: 1200px) {
				padding-right: 56px;
			}
		}
		& .last-pdr2 {
			@media screen and (min-width: 1200px) {
				padding-right: 6px;
			}
		}
	}
}

.block-list {
	max-width: 1440px;
	margin: 0 auto;
}
.e--prices-swiper {
	display: none;
	@media screen and (min-width: 767px) {
		display: block;
	}
	@media screen and (min-width: 991px) {
		margin-top: 67px;
	}
}
//  .swiper-slide img {
//    max-width: 1120px;
//    width: 100%;
//    margin: auto;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//  }
//  .swiper-pagination {
//    margin-top: 15px;
//    margin-left: 30px;
//    @media screen and (min-width: 767px) {
//      margin-top: 20px;
//    }
//    @media screen and (min-width: 991px) {
//      margin-top: 67px;
//    }
//    .swiper-pagination-bullet {
//      width: 14px;
//      height: 14px;
//      border: 2px solid #728bad !important;
//      margin: 0 5px !important;
//      background-color: transparent;
//      opacity: 1;
//      @media screen and (min-width: 767px) {
//        margin: 0 9px !important;
//        width: 18px;
//        height: 18px;
//        border: 3px solid #728bad !important;
//      }
//      @media screen and (min-width: 991px) {
//        border: 4px solid #728bad !important;
//        width: 26px;
//        height: 26px;
//      }
//      &.swiper-pagination-bullet-active {
//        background: #d5dcee;
//      }
//    }
//  }
//  .swiper-pagination,
//  .swiper-pagination-clickable,
//  .swiper-pagination-bullets,
//  .swiper-pagination-horizontal {
//    position: static !important;
//  }

//  .swiper-button-next,
//  .swiper-rtl .swiper-button-prev {
//    &::after {
//      content: "" !important;
//      min-width: 14px;
//      height: 14px;
//      background-image: url(../images/right_arrow.svg);
//      background-size: contain;
//      background-repeat: no-repeat;
//      color: #a3b8d7;
//      margin-left: 25px;
//      margin-bottom: 32px;
//      @media screen and (min-width: 767px) {
//        min-width: 24px;
//        height: 24px;
//      }
//      @media screen and (min-width: 991px) {
//        min-width: 42px;
//        height: 42px;
//        margin-left: 5px;
//      }
//      @media screen and (min-width: 1200px) {
//        min-width: 52px;
//        height: 50px;
//        margin-left: -9px;
//      }
//    }
//  }
//  .swiper-pagination-bullets {
//    display: none;
//    @media screen and (min-width: 767px) {
//      display: block;
//    }
//  }
//  .swiper-button-prev,
//  .swiper-rtl .swiper-button-next {
//    &::after {
//      content: "" !important;
//      min-width: 14px;
//      height: 14px;
//      background-image: url(../images/right_arrow.svg);
//      background-size: contain;
//      background-repeat: no-repeat;
//      color: #a3b8d7;
//      transform: rotateZ(180deg);
//      margin-right: 10px;
//      margin-bottom: 32px;
//      @media screen and (min-width: 767px) {
//        min-width: 24px;
//        height: 24px;
//      }
//      @media screen and (min-width: 991px) {
//        min-width: 42px;
//        height: 42px;
//        margin-right: -15px;
//      }
//      @media screen and (min-width: 1200px) {
//        min-width: 52px;
//        height: 50px;
//        margin-right: -22px;
//      }
//    }
//  }

.e--small_11 {
	padding-left: 30px;
	padding-right: 22px;
	@media screen and (min-width: 767px) {
		padding-left: 40px;
		padding-right: 32px;
	}
	@media screen and (min-width: 991px) {
		padding-left: 70px;
		padding-right: 62px;
	}
}
.e--small_21 {
	padding-left: 30px;
	padding-right: 22px;
	@media screen and (min-width: 767px) {
		padding-left: 40px;
		padding-right: 32px;
	}
	@media screen and (min-width: 991px) {
		padding-left: 70px;
		padding-right: 62px;
	}
}
.e--small_31 {
	padding-left: 30px;
	padding-right: 22px;
	@media screen and (min-width: 767px) {
		padding-left: 40px;
		padding-right: 32px;
	}
	@media screen and (min-width: 991px) {
		padding-left: 70px;
		padding-right: 62px;
	}
}
.e--price {
	font-weight: 500;
	font-size: 30px;
	line-height: 132.9%;
	text-transform: uppercase;
	color: #f5f5f5;
	padding-top: 29px;
	padding-bottom: 57px;
	padding-left: 14px;
	@media screen and (min-width: 767px) {
		font-size: 48px;
		padding-left: 55px;
	}
	@media screen and (min-width: 991px) {
		font-size: 64px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 90px;
		padding-top: 116px;
		padding-left: 158px;
		padding-bottom: 116px;
	}
}

.contact {
	max-width: 1440px;
	margin: auto;
	& .flex-contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: 767px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			padding-top: 100px;
			padding-bottom: 100px;
		}
		@media screen and (min-width: 991px) {
			padding-top: 150px;
			padding-bottom: 200px;
		}
		@media screen and (min-width: 1200px) {
			padding-top: 180px;
			padding-bottom: 291px;
		}
		& .e--contact-h2 {
			font-weight: 500;
			font-size: 30px;
			line-height: 132.9%;
			text-transform: uppercase;
			color: #f5f5f5;
			padding-top: 23px;
			padding-bottom: 41px;
			padding-left: 11px;
			@media screen and (min-width: 767px) {
				font-size: 48px;
				padding-left: 25px;
				padding-top: 0px;
				padding-bottom: 61px;
			}
			@media screen and (min-width: 991px) {
				font-size: 64px;
				padding-left: 30px;
				padding-top: 0px;
				padding-bottom: 81px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 90px;
			}
			@media screen and (min-width: 1400px) {
				padding-left: 163px;
			}
		}
	}
}
.contact_geo {
	margin-bottom: -20px;
	margin-right: 10px;
	@media screen and (min-width: 767px) {
		width: 32px;
		height: 32px;
	}
	@media screen and (min-width: 991px) {
		width: 44px;
		height: 44px;
		margin-right: 15px;
		margin-bottom: -30px;
	}
	@media screen and (min-width: 1200px) {
		width: 50px;
		height: 50px;
	}
}
.contact_call {
	margin-bottom: -10px;
	margin-right: 10px;
	@media screen and (min-width: 767px) {
		width: 32px;
		height: 32px;
	}
	@media screen and (min-width: 991px) {
		width: 44px;
		height: 44px;
		margin-right: 14px;
		margin-bottom: -18px;
	}
	@media screen and (min-width: 1200px) {
		width: 50px;
		height: 50px;
	}
}
.links1 {
	font-weight: 500;
	font-size: 20px;
	line-height: 139.4%;
	color: #f5f5f5;
	@media screen and (min-width: 767px) {
		font-family: "Inter";
		font-size: 24px;
	}
	@media screen and (min-width: 991px) {
		font-size: 26px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 30px;
	}
}
.e--contact_link1 {
}
.e--contact_link2 {
	padding-left: 38px;
	@media screen and (min-width: 767px) {
		display: none;
	}
}
.e--contact_span {
	font-weight: 500;
	font-size: 20px;
	line-height: 139.4%;
	color: #f5f5f5;
	padding-left: 45px;
	@media screen and (min-width: 767px) {
		padding-left: 45px;
		font-family: "Inter";
		font-size: 24px;
	}
	@media screen and (min-width: 991px) {
		font-size: 24px;
		padding-left: 61px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 30px;
		padding-left: 65px;
	}
}
.e--contact_link3 {
}
.e--contact_block2 {
	padding-left: 13px;
	padding-bottom: 30px;
	@media screen and (min-width: 767px) {
		padding-left: 25px;
		padding-bottom: 33px;
	}
	@media screen and (min-width: 1400px) {
		padding-left: 165px;
	}
}
.e--contact_block1 {
	padding-left: 13px;
	padding-bottom: 49px;
	@media screen and (min-width: 767px) {
		padding-left: 25px;
	}
	@media screen and (min-width: 991px) {
	}
	@media screen and (min-width: 1200px) {
	}
	@media screen and (min-width: 1400px) {
		padding-left: 165px;
	}
}
.e--contact-frame {
	width: 347px;
	height: 230px;
	border-radius: 14px;
	@media screen and (min-width: 576px) {
		width: 447px;
		height: 330px;
	}
	@media screen and (min-width: 767px) {
		margin-top: 15px;
		width: 347px;
		height: 230px;
	}
	@media screen and (min-width: 991px) {
		width: 417px;
		height: 300px;
	}
	@media screen and (min-width: 1200px) {
		width: 493px;
		height: 428px;
		margin-right: 4px;
	}
}

.header-404 {
	max-width: 1440px;
	margin: auto;
	background-image: url(/assets/img/background_2.webp);
	background-size: 286px 401px;
	background-repeat: no-repeat;
	@media screen and (min-width: 576px) {
		background-size: 400px 600px;
	}
	@media screen and (min-width: 767px) {
		background-size: 400px 621px;
		height: 700px;
	}
	@media screen and (min-width: 820px) {
		background-size: 450px 750px;
	}
	@media screen and (min-width: 991px) {
		background-size: 570px 850px;
		height: 850px;
	}
	@media screen and (min-width: 1200px) {
		background-size: 908px 1024px;
		height: 933px;
	}
}
.header-404-flex {
	display: flex;
	justify-content: space-between;
	padding-top: 43px;
	padding-bottom: 68px;
	@media screen and (min-width: 767px) {
		justify-content: space-between;
		align-items: center;
		padding-top: 48px;
		padding-bottom: 80px;
	}
	@media screen and (min-width: 991px) {
		padding-top: 56px;
		padding-bottom: 100px;
	}
	@media screen and (min-width: 1200px) {
		padding-bottom: 132px;
	}
}
.logo-404 {
	margin-left: 9px;
	@media screen and (min-width: 767px) {
		width: 120px;
		height: 60px;
	}
	@media screen and (min-width: 1200px) {
		width: 197px;
		height: 84px;
		margin-left: -5px;
	}
}
.menu404 {
	padding-right: 10px;
	@media screen and (min-width: 767px) {
		display: none;
	}
}
.dis-none {
	@media screen and (min-width: 767px) {
		display: none;
	}
}
.header-links404 {
	display: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #f5f5f5;
	text-decoration: none;
	@media screen and (min-width: 767px) {
		display: inline-block;
	}
}
.pdb404 {
	@media screen and (min-width: 767px) {
		padding-right: 15px;
		padding-left: 15px;
	}
	@media screen and (min-width: 1200px) {
		padding-left: 57px;
		padding-right: 63px;
	}
}
.pdr404 {
	@media screen and (min-width: 767px) {
		padding-right: 15px;
	}
	@media screen and (min-width: 1200px) {
		padding-right: 56px;
	}
}
.last-pdr404 {
	@media screen and (min-width: 1200px) {
		padding-right: 33px;
	}
}
.e--404-mistake {
	display: block;
	margin: auto;
	@media screen and (min-width: 576px) {
		width: 511px;
	}
	@media screen and (min-width: 767px) {
		width: 600px;
	}
	@media screen and (min-width: 991px) {
		width: 780px;
	}
}

.e--404-h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 107.9%;
	color: #f5f5f5;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 12px;
	@media screen and (min-width: 767px) {
		font-size: 48px;
		padding-bottom: 24px;
	}
	@media screen and (min-width: 991px) {
		font-size: 64px;
		padding-bottom: 30px;
		padding-top: 50px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 90px;
		padding-bottom: 37px;
	}
}
.e--404-p {
	font-weight: 400;
	font-size: 15px;
	line-height: 130.4%;
	color: #ffdbbb;
	text-align: center;
	padding-bottom: 34px;
	@media screen and (min-width: 767px) {
		font-size: 24px;
	}
	@media screen and (min-width: 991px) {
		font-size: 24px;
		padding-bottom: 42px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 30px;
	}
}
.e--404-but {
	background: #728bad;
	border-radius: 42px;
	padding: 8px 22px;
	display: block;
	margin: auto;
	margin-bottom: 43px;
	@media screen and (min-width: 767px) {
		padding: 10px 48px;
	}
	@media screen and (min-width: 991px) {
		padding: 11px 70px;
	}
	& .e--404-link {
		font-weight: 700;
		font-size: 15px;
		line-height: 18px;
		color: #f5f5f5;
		@media screen and (min-width: 767px) {
			font-size: 24px;
		}
		@media screen and (min-width: 1200px) {
			font-size: 30px;
		}
	}
}
