{% extends "layout/base4.twig" %}

{% set title = "About us" %}

{% block content %}
<div class="wrapper2">
   <section class="block_4 e--about_us-bgi">
      <div class="container">
         <div class="flex-block4">
            <div class="block--block4">
               <h2 class="kyiv e--block4-h2 e--about_us-h2">About us</h2>
               <p class="inter e--block4-p"> <b class="e--block4-b">BIO CWT</b> - we manufacture solid wood products according to individual drawings. We make chairs, armchairs, wardrobes, beds and much more in our own workshop, equipped with all the necessary industrial equipment.</p>
            </div>
            <div class="absolute_container e--about_us-abc">
               <img class="jesus1" src="/assets/img/image_1.webp" alt="" width="111" height="112">
               <img class="jesus2" src="/assets/img/image_2.webp" alt="" width="190" height="189">
               <img class="jesus3" src="/assets/img/image_3.webp" alt="" width="111" height="111">
            </div>
         </div>
      </div>
   </section>
   <section class="block_2">
      <div class="container">
         <h2 class="kyiv e--block2_h2 e--about_us-h">Our work</h2>
         <div class="swiper mySwiper">
            <div class="swiper-wrapper">
               <div class="swiper-slide e--small_1">
                  <picture>
                     <img src="/assets/img/kitchen.webp" alt="" srcset="/assets/img/kitchen.webp 1x, /assets/img/kitchen@2x.webp 2x">
                  </picture>
               </div>
               <div class="swiper-slide e--small_2">
                  <picture>
                     <img src="/assets/img/kitchen.webp" alt="" srcset="/assets/img/kitchen.webp 1x, /assets/img/kitchen@2x.webp 2x">
                  </picture>
               </div>
               <div class="swiper-slide e--small_3">
                  <picture>
                     <img src="/assets/img/kitchen.webp" alt="" srcset="/assets/img/kitchen.webp 1x, /assets/img/kitchen@2x.webp 2x">
                  </picture>
               </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
         </div>
      </div>
   </section>
   <section class="block_5 e--about_us-block5">
      <div class="container">
         <h2 class="kyiv e--block5_h2 e--about_us-h3">Any questions?</h2>
         <div class="flex-block5">
            <div>
               <form action="#" class="e--about_us-form">
                  <input type="text" class="inter input e--block5_name e--galery-name" name="fname" placeholder="Your name"/>
                  <br />
                  <input type="tel" class="inter input e--block5_number e--galery-number" name="fname" placeholder="Your telephone number"/>
                  <br />
                  <input type="text" class="inter input e--block5_question e--galery-question" name="fname" placeholder="Your question"/>
                  <br />
                  <input type="submit" class="inter e--block5_send e--about_us-send" value="Send" />
               </form>
            </div>
            <p class="inter e--block5_p e--about_us-p">Write to us and we will be sure to answer all your questions and give you a comprehensive consultation.</p>
         </div>
      </div>
   </section>
</div>
{% endblock %}