{% extends "layout/base2.twig" %}

{% set title = "Gallery" %}

{% block content %}
<div class="wrapper">
   <section class="block_2">
      <div class="container">
         <h2 class="kyiv e--block2_h2 e--gallery-h2">Our work</h2>
         <div class="swiper mySwiper">
            <div class="swiper-wrapper">
               <div class="swiper-slide e--small_1">
                  <picture>
                     <img src="/assets/img/kitchen.webp" alt="" srcset="/assets/img/kitchen.webp 1x, /assets/img/kitchen@2x.webp 2x">
                  </picture>
               </div>
               <div class="swiper-slide e--small_2">
                  <picture>
                     <img src="/assets/img/kitchen.webp" alt="" srcset="/assets/img/kitchen.webp 1x, /assets/img/kitchen@2x.webp 2x">
                  </picture>
               </div>
               <div class="swiper-slide e--small_3">
                  <picture>
                     <img src="/assets/img/kitchen.webp" alt="" srcset="/assets/img/kitchen.webp 1x, /assets/img/kitchen@2x.webp 2x">
                  </picture>
               </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
         </div>
      </div>
   </section>
   <section class="block-1">
      <div class="container">
         <h1 class="kyiv block-1_h1 e--gallery-h1">THE WOOD WE WORK WITH</h1>
      </div>
      <div class="flex-block1">
         <div class="left-side">
            <img class="mg0 e--wid" src="/assets/img/block1-img1.webp" alt="" width="90" height="90">
            <h2 class="inter e--h2_block1 tac">Oak</h2>
            <ul>
               <li>
                  <img class="liknon e--width e--block1_mg1" src="/assets/img/like.svg" alt="" width="13" height="13">
                  <span class="inter e--span1_block1 pd9">Durability</span>
               </li>
               <li>
                  <img class="liknon e--width e--block1_mg1 layo1" src="/assets/img/like.svg" alt="" width="13" height="13">
                  <span class="inter e--span_block1 layo">Beautiful texture</span>
               </li>
               <li>
                  <img class="liknon e--width  e--block1_mg2" src="/assets/img/like.svg" alt="" width="13" height="13">
                  <span class="inter e--span_block1 e--spanp2 pdb26">Water resistance</span>
               </li>
               <li>
                  <img class="liknon e--width1 e--block1_mg3" src="/assets/img/none.svg" alt="" width="10" height="10">
                  <span class="inter e--span_block1 e--spanp2 pd23">Expensive</span>
               </li>
            </ul>
         </div>
         <div class="center">
            <img class="mg0 e--wid" src="/assets/img/block1-img2.webp" alt="" width="90" height="90">
            <h2 class="inter e--h2_block1 tac1">Buk</h2>
            <ul>
               <li>
                  <img class="liknon e--width e--block1_mg4" src="/assets/img/like.svg" alt="" width="13" height="13">
                  <span class="inter e--span1_block1">Durability</span>
               </li>
               <li>
                  <img class="liknon e--width1 e--block1_mg5" src="/assets/img/none.svg" alt="" width="10" height="10">
                  <span class="inter e--span_block1">Hard to handle</span>
               </li>
            </ul>
         </div>
         <div class="right-side">
            <img class="mg0 e--wid" src="/assets/img/block1-img3.webp" alt="" width="90" height="90">
            <h2 class="inter e--h2_block1 tac1">Ash</h2>
            <ul>
               <li>
                  <img class="liknon e--width e--block1_mg6" src="/assets/img/like.svg" alt="" width="13" height="13">
                  <span class="inter e--span1_block1">Durability</span>
               </li>
               <li>
                  <img class="liknon e--width1 e--block1_mg7" src="/assets/img/none.svg" alt="" width="10" height="10">
                  <span class="inter e--span_block1">Hard to handle</span>
               </li>
            </ul>
         </div>
      </div>
   </section>
   <section class="block_5">
      <div class="container">
         <h2 class="kyiv e--block5_h2 e--galery-bl5-h2">Any questions?</h2>
         <div class="flex-block5">
            <div>
               <form action="#" class="e--galery-form">
                  <input type="text" class="inter input e--block5_name e--galery-name" name="fname" placeholder="Your name"/>
                  <br />
                  <input type="tel" class="inter input e--block5_number e--galery-number" name="fname" placeholder="Your telephone number"/>
                  <br />
                  <input type="text" class="inter input e--block5_question e--galery-question" name="fname" placeholder="Your question"/>
                  <br />
                  <input type="submit" class="inter e--block5_send e--galery-send" value="Send" />
               </form>
            </div>
            <p class="inter e--block5_p e--galery-p">Write to us and we will be sure to answer all your questions and give you a comprehensive consultation.</p>
         </div>
      </div>
   </section>
</div>
{% endblock %} 