<footer class="last_block">
      <div class="container e--footer">
         <div class="flex_footer">
            <img class="footer_logo" src="/assets/img/logo.svg" alt="" width="162" height="70">
            <div class="e--footer_block1">
               <img class="footer_geo" src="/assets/img/geo.svg" alt="" width="24" height="24">
               <a class="monts links e--footer_link1" href="#">Na Plzeňce 1166/1</a>
               <br>
               <a class="monts links e--footer_link2" href="#">Прага 5 - Смихов,</a>
               <span class="e--footer_span">150 00</span>
            </div>
            <div class="e--footer_block2">
               <img class="footer_call" src="/assets/img/call.svg" alt="" width="24" height="24">
               <a class="monts links e--footer_link3" href="#">+420 000 000 000</a>
            </div>
         </div>
         <a class="saira e--footer_link4" href="kit.html">Политика конфиденциальности</a>
         <a class="inter e--footer_link5" href="kit.html">Privacy Policy</a>
      </div>
</footer>
