<div class="wrapper2">
   <header class="header2">
      <div class="container">
         <div class="header2-flex">
            <a href="kit.html"><img class="logo2" src="/assets/img/logo.svg" alt="logotype" width="84.63" height="36"></a>
            <div>
               <a href="gallery.html" class="header-links2 monts">Gallery</a>
               <a href="prices.html" class="header-links2 monts pdb2 e--prices-link2">Prices for services</a>
               <a href="about_us.html" class="header-links2 monts pdr2">About us</a>
               <a href="contact.html" class="header-links2 monts last-pdr2">Contact</a>
            </div>
            <button alt="button menu" type="button" class="transparent dis-none2">
               <a href="#" class="menu2"><img src="/assets/img/menu.svg" alt="button"></a>
            </button>
         </div>
      </div>
   </header>
</div>