<div class="wrapper">
   <header class="header">
      <div class="container">
         <div class="header-flex">
            <a href="kit.html"><img class="logo" src="/assets/img/logo.svg" alt="logotype" width="84.63" height="36"></a>
            <div>
               <a href="gallery.html" class="header-links monts">Gallery</a>
               <a href="prices.html" class="header-links monts pdb">Prices for services</a>
               <a href="about_us.html" class="header-links monts pdr">About us</a>
               <a href="contact.html" class="header-links monts last-pdr">Contact</a>
            </div>
            <button alt="button menu" type="button" class="transparent dis-none">
               <a href="#" class="menu"><img src="/assets/img/menu.svg" alt="button"></a>
            </button>
         </div>
      </div>
      <div class="bor-bt"></div>
      <div class="block1-flex">
         <div>
            <h2 class="kyiv header-h2 ">Solid wood products</h2>
            <p class="inter header-p">Oak, beech, ash from 1700 CZK per m3</p>
            <button class="transparent e--but">
               <a href="#" class="inter but-text">Order</a>
            </button>
         </div>
         <div>
            <img src="/assets/img/header_image_1.webp" class="e--block mg1" alt="" width="90" height="">
            <img src="/assets/img/header_image_2.webp" class="e--block mg2" alt="" width="90" height="">
            <img src="/assets/img/header_image_3.webp" class="e--block mg3" alt="" width="90" height="">
         </div>
      </div> 
   </header>
</div>
